<div class="container col-md-8 pt-4">
  <div class="row">
    <div class="col-sm-6 col-lg-4 pt-2">
      <div class="card" style="max-width: 18rem;">
        <div class="card-header bg-behance content-center">
          <i class="fab fa-behance icon my-4 display-5" style="color: black;">Emergency Pass</i>
        </div>
        <div class="card-body row text-center">
          <div class="vr"></div>
          <div class="col">
            <div><a class="text-uppercase text-muted small" mat-button [routerLink]="['viewpass']">View Applied
                Passes</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 pt-2">
      <div class="card" style="max-width: 18rem;">
        <div class="card-header bg-dribbble content-center">
          <i class="fab fa-dribbble icon my-4 display-5" style="color: black;">Doctor Appointment</i>
        </div>
        <div class="card-body row text-center">
          <div class="vr"></div>
          <div class="col">
            <div><a class="text-uppercase text-muted small" mat-button [routerLink]="['viewappointments']">Upcoming
                Appointments</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 pt-2">
      <div class="card" style="max-width: 18rem;">
        <div class="card-header bg-facebook content-center">
          <i class="fab fa-facebook icon my-4 display-5" style="color: black;">View and Assign Work to Volunteers</i>
        </div>
        <div class="card-body row text-center">
          <div class="vr"></div>
          <div class="col">
            <div><a class="text-uppercase text-muted small" mat-button [routerLink]="['viewvol']">View</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>