<div class="container col-md-8 pt-4 pb-4">
  <div class="row">

    <div class="col-sm-6 col-lg-4 pt-4">
      <div class="card" style="width: 18rem;">
        <img src="./assets/images/epass.jpg" class="card-img-top img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Emergency Pass</h5>
          <p class="card-text">Apply E-pass in case of emergency situation only. Do not misuse the pass.<b> Keep
              distance Stay safe</b></p>
          <div><a class="btn btn-primary" mat-button [routerLink]="['addpass']">Apply</a></div>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-lg-4 pt-4">
      <div class="card" style="width: 18rem;">
        <img src="./assets/images/docappoint.png" class="card-img-top img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Doctor Appointment</h5>
          <p class="card-text">Apply for Doctor Appointment in case of emergency. <b>Stay safe</b></p>
          <div><a class="btn btn-primary" mat-button [routerLink]="['fixappointment']">Apply</a></div>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-lg-4 pt-4">
      <div class="card" style="width: 18rem;">
        <img src="./assets/images/testinglabs.jfif" class="card-img-topimg-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Covid-19 Testing Labs</h5>
          <p class="card-text">This shows the list of Covid-19 testing labs authorized by Indian Goverment</p>
          <br>
          <div><a class="btn btn-primary" mat-button [routerLink]="['healthcare']">View</a></div>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-lg-4 pt-4">
      <div class="card" style="width: 18rem;">
        <img src="./assets/images/cmfund.jfif" class="card-img-top img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Donate For CM Funds</h5>
          <p class="card-text">Let's help the people who are in need.<b> Stay home stay safe</b></p><br>
          <div><a class="btn btn-primary" mat-button href="https://telangana.gov.in/cm-relief-fund">Donate</a></div>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-lg-4 pt-4">
      <div class="card" style="max-width: 18rem;">
        <img src="./assets/images/onlinecourse.jfif" class="card-img-top img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Online Courses</h5>
          <p class="card-text">Learning should not be stopped, so let's keep ouselves updated.
          </p><br>
          <div><a class="btn btn-primary" mat-button [routerLink]="['onlinecourses']">View Courses</a></div>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-lg-4 pt-4">
      <div class="card" style="width: 18rem;">
        <img src="./assets/images/food.jfif" class="card-img-top img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Food Services</h5>
          <p class="card-text">List of food services for those in need</p><br>
          <div><a class="btn btn-primary" mat-button [routerLink]="['freefood']">View</a></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 pt-4 pb-4">
      <div class="card" style="width: 18rem;">
        <img src="./assets/images/volunteer.jpg" class="card-img-top img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Volunteer</h5>
          <p class="card-text">Those who are interested in volunteering for Covid-19 pandemic can apply here</p><br>
          <div><a class="btn btn-primary" mat-button [routerLink]="['volreg']">Register</a></div>
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-lg-4 pt-4 pb-4">
      <div class="card" style="width: 18rem;">
        <img src="./assets/images/helpline.png" class="card-img-top img-thumbnail">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 20px;">Goverment HelpLine Numbers</h5>
          <p class="card-text">The list of helpline numbers will be available.</p><br>
          <div><a class="btn btn-primary" mat-button [routerLink]= "['helpline']">View</a></div>
        </div>
      </div>
    </div>


  </div>
</div>
