<!DOCTYPE html>
<div class="container pt-4"
  style="text-align: center;font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
  Corona virus Cases confirmed all over India and tamilnadu
</div>

<div class="container pd-5 pr-5 pl-5">

  <div class="table-responsive pt-4">

    <table class="table table-light table-bordered pl-10 pt-10">
      <thead>
        <tr>
          <th style="color: #420303;">State</th>
          <th style="color: red;">Confirmed</th>
          <th style="color: black;">Deaths</th>
          <th style="color: green;">Recovered</th>
          <th style="color: blue;">Delta Confirmed</th>
          <th style="color: black;">Delta Deaths</th>
          <th style="color: grey;">Last Updated</th>
        </tr>
      </thead>
      <tbody *ngFor="let report of cases ">
        <tr *ngFor="let rep of report.statewise">
          <td *ngIf="rep.state == 'Total'" style="color: #420303;">{{rep.state}}</td>
          <td *ngIf="rep.state == 'Total'" style="color: red;">{{rep.confirmed}}</td>
          <td *ngIf="rep.state == 'Total'" style="color: black;">{{rep.deaths}}</td>
          <td *ngIf="rep.state == 'Total'" style="color: green;">{{rep.recovered}}</td>
          <td *ngIf="rep.state == 'Total'" style="color: blue;">{{rep.deltaconfirmed}}</td>
          <td *ngIf="rep.state == 'Total'" style="color: black;">{{rep.deltadeaths}}</td>
          <td *ngIf="rep.state == 'Total'" style="color: grey;">{{rep.lastupdatedtime}}</td>
        </tr>
        <!-- <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td> -->
      </tbody>
    </table>
  </div>


  <div class="container pt-4"
    style="text-align: center;font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    Corona Cases in Telangana
  </div>

  <div class="table-responsive pt-4">
    <table class="table table-light table-bordered pl-10 pt-10">
      <thead>
        <tr>
          <th style="color: #420303;">State</th>
          <th style="color: red;">Confirmed</th>
          <th style="color: black;">Deaths</th>
          <th style="color: green;">Recovered</th>
          <th style="color: blue;">Delta Confirmed</th>
          <th style="color: black;">Delta Deaths</th>
          <th style="color: grey;">Last Updated</th>
        </tr>
      </thead>
      <tbody *ngFor="let report of cases ">
        <tr *ngFor="let rep of report.statewise">
          <td *ngIf="rep.state == 'Telangana'" style="color: #420303;">{{rep.state}}</td>
          <td *ngIf="rep.state == 'Telangana'" style="color: red;">{{rep.confirmed}}</td>
          <td *ngIf="rep.state == 'Telangana'" style="color: black;">{{rep.deaths}}</td>
          <td *ngIf="rep.state == 'Telangana'" style="color: green;">{{rep.recovered}}</td>
          <td *ngIf="rep.state == 'Telangana'" style="color: blue;">{{rep.deltaconfirmed}}</td>
          <td *ngIf="rep.state == 'Telangana'" style="color: black;">{{rep.deltadeaths}}</td>
          <td *ngIf="rep.state == 'Telangana'" style="color: grey;">{{rep.lastupdatedtime}}</td>
        </tr>
        <!-- <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td> -->
      </tbody>
    </table>
  </div>



  <div class="container pt-4"
    style="text-align: center;font-size: large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    Corona Cases StateWise
  </div>

  <div class="table-responsive pt-4">
    <table class="table table-light table-bordered pl-10 pt-10 table table-condensed"
      style="border-collapse:collapse;">
      <thead>
        <tr>
          <th style="color: #420303;">State</th>
          <th style="color: red;">Confirmed</th>
          <th style="color: black;">Deaths</th>
          <th style="color: green;">Recovered</th>
          <th style="color: blue;">Delta Confirmed</th>
          <th style="color: black;">Delta Deaths</th>
          <th style="color: grey;">Last Updated</th>
        </tr>
      </thead>
      <tbody *ngFor="let report of cases ">
        <tr *ngFor="let rep of report.statewise">
          <td *ngIf="rep.state != 'Telangana' && rep.state != 'Total' " style="color: #420303;" data-toggle="collapse"
            data-target="#district" class="accordion-toggle">{{rep.state}}</td>
          <td *ngIf="rep.state != 'Telangana'  && rep.state != 'Total'" style="color: red;">{{rep.confirmed}}</td>
          <td *ngIf="rep.state != 'Telangana'  && rep.state != 'Total'" style="color: black;">{{rep.deaths}}</td>
          <td *ngIf="rep.state != 'Telangana'  && rep.state != 'Total'" style="color: green;">{{rep.recovered}}</td>
          <td *ngIf="rep.state != 'Telangana'  && rep.state != 'Total'" style="color: blue;">{{rep.deltaconfirmed}}</td>
          <td *ngIf="rep.state != 'Telangana'  && rep.state != 'Total'" style="color: black;">{{rep.deltadeaths}}</td>
          <td *ngIf="rep.state != 'Telangana'  && rep.state != 'Total'" style="color: grey;">{{rep.lastupdatedtime}}
          </td>
          <!-- <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
